* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, sans-serif;
  font-synthesis: style;
  font-weight: normal;
  font-size: 14px;
  color: #191919;
}

#app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #fafafa;
}
