.results {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.title {
  font-size: 1.25rem;
  color: #757575;
}

.chips {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.chip {
  padding: 0.25rem 0.5rem;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}
