:root {
  --footer-height: 40px;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  height: var(--footer-height);
  padding: 0 1.5rem;
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
}
