:root {
  --header-height: 60px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
